* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}

:root {


}

.header-outer{
  position: fixed;
  backdrop-filter: blur(10px);
  top: 0;
  background: rgba(255, 255, 255, 0.675);
  height: 80px;
  width: 100%;
  display: flex;
  z-index: 10;
  border-bottom: 2px solid rgb(213, 213, 213);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.363);
}





.header-logo img {
    opacity: 1;
    margin: 5px 10px 0px 5px;
    border: 2px solid rgb(0, 30, 255);
    position: absolute;
    
    width: 6%;
    transition: all 0.3;
}

.header-logo img:hover {
    opacity: 0.95;
}

.header-navigation{
  font-size: 1.125rem;
  margin: 10px;
  margin-left: 800px;
  padding: 5px;
  font-family: Calibri;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vkladka1,.vkladka2,.vkladka3,.vkladka4,.vkladka5,.vkladka6{
  color: rgb(0, 0, 0);
  margin: 0px 10px 0px 10px;
  border-radius: 0px;
  transition: border-radius 400ms,border-color 400ms, background-color 400ms, color 400ms;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  
  
}

.header-navigation a:hover{
  color: rgb(0, 89, 255);
}

.victoriny {
  top: 80px;
  background-color: rgb(236, 236, 236);
  position: relative;
  z-index: 1;
}

.no {

}

.razdely {
  margin: 0px 80px 0px 80px;

}

.text-in-victoriny{
  margin: 40px 50px 50px 80px;
  position: absolute;
  text-decoration: none;
  font-weight: 450;
}

.text-in-victoriny{

  
}

.razdel {
  background: none;
  background-position: 0px;

  scale: 1;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.125rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 430px;
  height: 170px;
  padding: 5px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 25px;
  margin: 10px;
  transition: border-radius 400ms, border 400ms, background-color 400ms, color 200ms, scale 400ms, opacity 400ms, background-size 400ms, box-shadow 400ms;
  position: relative;
  display: inline-block;
}



.razdel:hover {
  scale: 1.1;
  box-shadow: 0 0 20px rgba(0, 37, 140, 0.419);

  background-color: rgb(56, 136, 255);
  
  color: rgb(255, 255, 255);
  border-radius: 25px;
  
  background-image: "";
  background-size: 431px;
}

.razdel:focus {
  opacity: 0.9;
}
